.blogpostcontents p,
.blogpostcontents li,
.ql-editor p,
.ql-editor li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 8px;
  color: #000;
}

.blogpostcontents li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
}

.blogpostcontents h1,
.ql-editor h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px !important;
  line-height: 48px;
  color: #000000;
}

.blogpostcontents h2,
.ql-editor h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px !important;
  line-height: 40px;
  color: #000000;
}

.ql-editor {
  max-width: 690px;
  min-height: 80vh;
  margin: auto;
  padding-bottom: 20vh;
}

.ql-editor ul,
.ql-editor ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ql-editor ol li,
.ql-editor ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
